body{
    background-color: brown;
}
div{
    width: 750px;
    height: 497px;
    margin: 0 auto;
    border: solid thin rgb(54, 34, 34);
    position: relative;
    text-align: center;
    overflow: hidden;
    background-color: rgb(15, 15, 75);
}
#slidetext1, #slidetext2, #slidetext3, #slidetext4, #slidetext5{
    display: none;
}
img{
    width: 100%;
    height: 100%;
}

/*First slide*/
div .firsth2{
    font-size: 2.5em;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 50%;
    color: rgb(19, 6, 6);
    text-align: center;
    width: 100%;
    -webkit-animation: moveh2 2s; /* Safari 4.0 - 8.0 */
    animation: moveh2 2s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes moveh2 {
    from {top: 0px;}
    to {top: 50%;}
}

/* Standard syntax */
@keyframes moveh2 {
    from {top: 0px;}
    to {top: 50%;}
}
div .firstp{
    position: absolute;
    top: 60%;
    text-align: center;
    width: 100%;
    -webkit-animation: movep 2s; /* Safari 4.0 - 8.0 */
    animation: movep 2s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes movep {
    from {left: -60%;}
    to {left: 0px;}
}

/* Standard syntax */
@keyframes movep {
    from {left: -60%;}
    to {left: 0px;}
}


/*second slide*/
div .secondh2{
    font-size: 2.5em;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 50%;
    color: rgb(70, 77, 179);
    text-align: center;
    width: 100%;
    -webkit-animation: movesecondh2 2s; /* Safari 4.0 - 8.0 */
    animation: movesecondh2 2s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes movesecondh2 {
    from {left: -90%;}
    to {left: 0px;}
}

/* Standard syntax */
@keyframes movesecondh2 {
    from {left: -90%;}
    to {left: 0px;}
}
div .secondp{
    color: rgb(10, 11, 27);
    position: absolute;
    top: 60%;
    text-align: center;
    width: 100%;
    -webkit-animation: movesecondp 2s; /* Safari 4.0 - 8.0 */
    animation: movesecondp 2s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes movesecondp {
    from {right: -60%;}
    to {right: 0px;}
}

/* Standard syntax */
@keyframes movesecondp {
    from {right: -60%;}
    to {right: 0px;}
}

/*Third slide*/
div .thirdh2{
    font-size: 2.5em;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 50%;
    color: rgb(70, 77, 179);
    text-align: center;
    width: 100%;
    -webkit-animation: movethirdh2 2s; /* Safari 4.0 - 8.0 */
    animation: movethirdh2 2s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes movethirdh2 {
    0% {left: -50%;}
    to {left: 0px;}
}

/* Standard syntax */
@keyframes movethirdh2 {
    0% {top: -5%;}
    40% {top: 100%;}
    60% {top: -2%;}
}
div .thirdp{
    color: rgb(10, 11, 27);
    position: absolute;
    top: 60%;
    text-align: center;
    width: 100%;
    -webkit-animation: movethirdp 2s; /* Safari 4.0 - 8.0 */
    animation: movethirdp 2s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes movethirdp {
    0% {top: 100%;}
    50% {top: 100%;}
}

/* Standard syntax */
@keyframes movethirdp {
    0% {top: 100%;}
    50% {top: 100%;}
}

/*Fourth slide*/
div .fourthh2{
    font-size: 2.5em;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 50%;
    color: rgb(70, 77, 179);
    text-align: center;
    width: 100%;
    -webkit-animation: movefourthh2 2s; /* Safari 4.0 - 8.0 */
    animation: movefourthh2 2s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes movefourthh2 {
    0% {opacity: 0;}
    to {opacity: 1;}
}

/* Standard syntax */
@keyframes movefourthh2 {
    0% {opacity: 0;}
    to {opacity: 1;}
}
div .fourthp{
    color: rgb(10, 11, 27);
    position: absolute;
    top: 60%;
    text-align: center;
    width: 100%;
    -webkit-animation: movefourthp 2s; /* Safari 4.0 - 8.0 */
    animation: movefourthp 2s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes movefourthp {
    0% {top: 100%; transform: skewY(20deg)}
    100% {}
}

/* Standard syntax */
@keyframes movefourthp {
    0% {top: 100%; transform: skewY(20deg)}
    100% {}
}
/*Fifty slide*/
div .fifthh2{
    font-size: 2.5em;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 50%;
    color: rgb(70, 77, 179);
    text-align: center;
    width: 100%;
    -webkit-animation: movefifthh2 2s; /* Safari 4.0 - 8.0 */
    animation: movefifthh2 2s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes movefifthh2 {
    0% {left: 100%;}
    40% {right: -100%;}
    100% {}
}

/* Standard syntax */
@keyframes movefifthh2 {
    0% {left: -100%;}
    40% {right: -100%;}
    100% {left: 0; right: 0;}
}
div .fifthp{
    color: rgb(10, 11, 27);
    position: absolute;
    top: 60%;
    text-align: center;
    width: 100%;
    -webkit-animation: movefifthp 2s; /* Safari 4.0 - 8.0 */
    animation: movefifthp 2s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes movefifthp {
    0% {font-size: 0px}
    100% {font-size: 1em;}
}

/* Standard syntax */
@keyframes movefifthp {
    0% {font-size: 0px}
    100% {font-size: 1em;}
}


/*First image fade*/
.fade1{
    -webkit-animation: fade1 2s; /* Safari 4.0 - 8.0 */
    animation: fade1 2s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes fade1 {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* Standard syntax */
@keyframes fade1 {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/*Second image fade*/
.fade2{
    -webkit-animation: fade2 2s; /* Safari 4.0 - 8.0 */
    animation: fade2 2s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes fade2 {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* Standard syntax */
@keyframes fade2 {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}


/*Third image fade*/
.fade3{
    -webkit-animation: fade3 2s; /* Safari 4.0 - 8.0 */
    animation: fade3 2s;
    position: relative;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes fade3 {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* Standard syntax */
@keyframes fade3 {
    0% {top: 110%;}
    40% {top: -110%;}
    100% {top: 0px;}
}

/*Fourth image fade*/
.fade4{
    -webkit-animation: fade4 2s; /* Safari 4.0 - 8.0 */
    animation: fade4 2s;
    position: relative;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes fade4 {
    0% {width: 0px; height: 0px; top: 50%;}
    100% {top: 0px;}
}

/* Standard syntax */
@keyframes fade4 {
    0% {width: 0px; height: 0px; top: 50%;}
    100% {top: 0px;}
}

/*Fifth image fade*/
.fade5{
    -webkit-animation: fade5 2s; /* Safari 4.0 - 8.0 */
    animation: fade5 2s;
    position: relative;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes fade5 {
    0% {top: -100%; right: -100%; border-radius: 90%;}
    100% {top: 0px; right: 0px;}
}

/* Standard syntax */
@keyframes fade5 {
    0% {top: -100%; right: -100%; border-radius: 90%;}
    100% {top: 0px; right: 0px;}
}